/* Классы */
*{
    margin: 0;
    padding:0;
}

body{
    background-image: url('https://img.freepik.com/free-vector/technology-background_23-2148123085.jpg?w=1380&t=st=1717704577~exp=1717705177~hmac=f4d688d48b2fe102cadda946b87242cf381dbebb376eaa83c1d99b8249c40d64');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
}

.border-style {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px none rgba(0,0,0,0.5); /* Задана ширина, стиль и цвет рамки */
    color:black;
    border-radius: 15px;
    margin:50 50 0 0;
    justify-content: center;
        align-items: center;
}

.outer-border {
        position: relative;
        width:100%;
        height: 75px;
        background-color: rgb(0, 0, 50);
        display:flex;
        color:white;
        justify-content: center;
        align-items: center;
        font-size:  20px;
        flex-direction: column;
        line-height: 35px;
}

.global-border {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 25px;
    margin-left: 115px;  
}

.global-border-1{
    position: relative;
    display: inline-block;
    width: 500px;
    border: 3px solid rgba(0,0,0,0.5); /* Задана ширина, стиль и цвет рамки */
    color:black;
    border-radius: 15px;
    background-color: white;
    padding: 1%;
    line-height: 35px;
    margin-right:150px;
    width: 2500px;
}

.global-border-2{
    position: relative;
    display: inline-block;
    width:500px;
    border: 3px solid rgba(0,0,0,0.5); /* Задана ширина, стиль и цвет рамки */
    color:black;
    border-radius: 15px;
    background-color: white;
    padding: 1%;
    line-height: 35px;
    width: 2500px;
    margin-right:150px;   
    height: 200px;  
}



.raleway-shrift {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:  15px;
}

hr{
    border-color:cornflowerblue;
}

.bold-text{
    font-weight: bold;
}

.decoration-text{
    text-decoration: line-through;
}

.text-fontstyle{
    font-style:italic;
}

.center-text{
    text-align: center;
}
.end-border{
    position: relative;
        width:100%;
        height: 35px;
        background-color: rgb(0, 0, 50);
        display:flex;
        color:white;
        justify-content: center;
        align-items: center;
        font-size:  20px;
        flex-direction: column;
        line-height: 25px;
        height: 150px;
}


/* Айди */

#header{
    text-align: center;
    
}
#header1{
    text-align: center;
    
}

#myButton{
    margin-left: 150px;
    height: 50px;
    width: 250px;
    background-color: green;
    color:white;
    font-size: 25px;
    cursor: pointer;
}
